<div class="info-container">
  <!-- Address Section -->
  <div class="section">
    <h2>Address</h2>
    <div class="form-group">
      <input type="text" [value]="getTownName(selectedRow.townId) + ' Mahallesi,        ' + getStreetName(selectedRow.streetId) + ' Sokak,        No:' + getNumberName(selectedRow.numberId)
       + ' ,        ' + getCityName(selectedRow.cityId) +'/'+ getProvinceName(selectedRow.provinceId) " disabled>
    </div>
  </div>

  <!-- Type Of Features Section -->
  <div class="section">
    <h2>Type Of Features</h2>
    <div class="form-group">
      <input type="text" [(ngModel)]="selectedRow.typeOfFeature" disabled>
    </div>
  </div>

  <!-- Number Of Floors Section -->
  <div class="section">
    <h2>Number Of Floors</h2>
    <div class="form-group">
      <input type="text" [(ngModel)]="selectedRow.numberOfFloors" disabled>
    </div>
  </div>

  <!-- Devices Section -->
  <div class="section">
    <h2>Devices</h2>
    <div class="form-group">
        <div class="form-group">
          <label>Devices:</label>
          <input type="text" [value]="getFormattedDevices()" disabled>
        </div>
      </div>
    </div>
  </div>

  <!-- Voice Section -->
  <div class="sectionVoice">
    <h2>
      <a (click)="toggleVoiceList()">Voice List</a>
    </h2>
    <div *ngIf="showVoiceListFlag" class="form-group">
      <table>
        <thead>
          <tr>
            <th>Voice Name</th>
            <th>Voice Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let voice of selectedRow.voiceList">
            <td>{{ voice.name }}</td>
            <td>{{ voice.date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>