/* topnav css */
.topnav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
}

.topnav a {
    float: left;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    padding: 14px 16px;
}

.menu {
        float: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #000;
    display: none;
}
/* topnav css */

/* left sidebar nav */

.sidebar {
    position: fixed;
    top: 63px;
    overflow: auto;
    background-color: #b0b0b0;
    height: 100%;
    border-right: 1px solid #fff;
    padding: 30px 5px;
    margin: 0px;
    width: 200px;
}

.sidebar a {
    text-decoration: none;
    padding: 10px 10px;
    color: #000;
    text-align: left;
    display: block;
}

.sidebar i {
    padding-right: 10px;
}

.sidebar li{
    margin-top: 10px;
}
/* left sidebar nav */

/* main-content */

.main-content {
    margin-left: 100px;
    margin-top: 100px;
    padding: 10px 18px;
    transition: margin-left .5s;
    width: 1500px;
}
/* main-content */
