<!-- topnavbar -->
<div class="topnav shadow p-1">
 <a>Bobi Dashboard</a>
 <span class="menu"><i class="bi bi-list"></i></span>
</div>
<!-- topnavbar -->
<!-- leftsidebarnav -->
<div class="sidebar shadow p-1" id="sidebar">
  <ul>
    <li><a routerLink="/dashboard"><i class="bi bi-list-columns"></i>Build List</a></li>
    <li><a routerLink="/add-build"><i class="bi bi-building-add"></i>Add Build</a></li>
    <li><a routerLink="/login"><i class="bi bi-box-arrow-right"></i>Login</a></li>
    <li *ngIf="isLoggedIn()"><a href="#" (click)="logout()"><i class="bi bi-box-arrow-right"></i>Logout</a></li>
  </ul>
</div>
<!-- leftsidebarnav -->

<!-- main content  -->
<div class="main-content">
  <router-outlet></router-outlet>
</div>
<!-- main content  -->